* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    height: 90vh;
}

.logo h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 45px;
    cursor: default;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    transition: 0.5s ease;
}

nav a:hover{
    color: hsl(0, 0%, 8%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-left: 55px;
}

.register {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 55px;
}

.logo {
    margin-bottom: 10px;
}

.features {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.features::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.5s ease;
    background-color: cadetblue;
    height: 2px;
}

.features:hover::after {
    width: 100%;
}

.company {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.company::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.5s ease;
    background-color: cadetblue;
    height: 2px;
}

.company:hover::after {
    width: 100%;
}

.careers {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.careers::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.5s ease;
    background-color: cadetblue;
    height: 2px;
}

.careers:hover::after {
    width: 100%;
}

.about {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.about::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.5s ease;
    background-color: cadetblue;
    height: 2px;
}

.about:hover::after {
    width: 100%;
}

.reg {
    border: 1px solid;
    padding: 10px 25px;
    border-radius: 15px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.left-side p {
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    font-size: 17px;
    letter-spacing: 1px;
}

.left-side h2 {
    font-size: 80px;
}

.button button {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 500;
    border: transparent 1px solid;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s ease;
}

.button button:hover {
    background: transparent;
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    font-weight: 700;
}

.sponsors {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 65px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    gap: 200px;
}